<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">Number of Z</div>
        <div class="col-xs-9"><input type="number" class="form-control" ng-model="mealy.numberOfZ" /></div>
    </div>
    <div class="row">
        <div class="col-xs-3">Number of A</div>
        <div class="col-xs-9"><input type="number" class="form-control" ng-model="mealy.numberOfA" /></div>
    </div>
    <div class="row">
        <div class="col-xs-3">Number of W</div>
        <div class="col-xs-9"><input type="number" class="form-control" ng-model="mealy.numberOfW" /></div>
    </div>
    <table class="table table-responsive table-bordered">
        <tr>
            <td>Z/A</td>
            <td ng-repeat="a in mealy.a">{{ a }}</td>
        </tr>
        <tr ng-repeat="z in mealy.z">
            <td ng-bind="z"></td>
            <td ng-repeat="a in mealy.a" class="row">
                <div class="col-xs-5">
                    <input type="text" class="form-control" placeholder="A" ng-model="mealy.transition[z][a]" typeahead="a for a in mealy.variants(mealy.a)" />
                </div>
                <div class="col-xs-2"><span>/</span></div>
                <div class="col-xs-5">
                    <input type="text" class="form-control" placeholder="W" ng-model="mealy.output[z][a]" typeahead="w for w in mealy.variants(mealy.w)" />
                </div>
            </td>
        </tr>
    </table>
    <button ng-click="minimize()" class="btn btn-primary btn-lg">Minimize</button>
</div>