<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">Number of Z</div>
        <div class="col-xs-9"><input type="number" class="form-control" ng-model="mealy.numberOfZ" /></div>
    </div>
    <div class="row">
        <div class="col-xs-3">Number of A</div>
        <div class="col-xs-9"><input type="number" class="form-control" ng-model="mealy.numberOfA" /></div>
    </div>
    <div class="row">
        <div class="col-xs-3">Number of W</div>
        <div class="col-xs-9"><input type="number" class="form-control" ng-model="mealy.numberOfW" /></div>
    </div>
</div>